current user: <%= current_user %>
<h1>Listing artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Record label</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.record_label %></td>
        <td><% artist.songs.each do |song| %>
          <%= song.title %> <%= song.genre.name unless song.genre.nil? %>
          <% end %>
        </td>
        
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
