<p id="notice"><%= notice %></p>
Main Artist: <%= session[:main_artist] %>
<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Record label:</strong>
  <%= @artist.record_label %>
</p>
<p>
  <% cache @artist do %>
  <%= render 'songs/song_list', songs: @artist.songs %>
  <% end %>
</p>

